
<div id="examplePadBasic"></div>

<%= content_for :js do %>

    <script type="text/javascript">
        // The most basic example
        $('#examplePadBasic').pad({'padId':'akamai'}); // sets the pad id and puts the pad in the div

        // A slightly more intense example
        //  $('#examplePadIntense').pad({'padId':'test2','showChat':'true'}); // sets the pad id and puts the pad in the div
    </script>

<% end %>